.heading{
  text-align: center;
}
.black{
  background-color: black;
  padding: 30px;
}

.actions{
   margin:10px
}

.addicon{
  position: absolute;
  right: 0px;
  font-size: 25px;
}


ion-label span{
  color:gray
}

ion-input {

  text-align: right  !important;


}
