<ion-content>
  <ion-label>Number of Rounds</ion-label>
  <ion-button id="open-picker">Open</ion-button>
  <ion-picker trigger="open-picker" [columns]="numberColumns" [buttons]="pickerButtons"></ion-picker>
</ion-content>


<ion-content>
  <ion-label>Workout Time</ion-label>
  <ion-button id="open-picker1">Open</ion-button>
  <ion-picker trigger="open-picker1" [columns]="pickerColumns" [buttons]="pickerButtons"></ion-picker>
</ion-content>

<ion-content>
  <ion-label>Rest Time</ion-label>
  <ion-button id="open-picker2">Open</ion-button>
  <ion-picker trigger="open-picker2" [columns]="pickerColumns" [buttons]="pickerButtons"></ion-picker>
</ion-content>