<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title>SmartWood</ion-title>
  <ion-buttons slot="primary">
    <ion-button fill="outline">
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-item>
    <ion-searchbar slot="start" class="custom-searchbar" (input)="onSearch($event)"></ion-searchbar>
  </ion-item>
  <div *ngIf="!filteredWorkout?.length && !search">
    <ion-item *ngFor="let item of workout ; let i =index" class="workout-items" lines="none" button detail="false"
      (click)='goTo("workout-detail",item.id)'>
      <ion-label slot="start">{{item.title}}</ion-label>
      <p slot="start">{{item.date}}</p>&nbsp;
      <p slot="start">{{item.time}}</p>
      <ion-icon slot="end" name="trash" color="danger" (click)="deleteWorkout(i)"></ion-icon>
    </ion-item>
  </div>
  <div *ngIf="filteredWorkout?.length">
    <ion-item *ngFor="let item of filteredWorkout; let i = index" class="workout-items" lines="none" button
      detail="false" (click)='goTo("workout-detail",item.id)'>
      <ion-label slot="start">{{item.title}}</ion-label>
      <p slot="start">{{item.date}}</p>&nbsp;
      <p slot="start">{{item.time}}</p>
      <ion-icon slot="end" name="trash" color="danger" (click)="deleteWorkout(i)"></ion-icon>
    </ion-item>
  </div>
</ion-content>