<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title>SmartWood</ion-title>
  <ion-buttons slot="primary">
    <ion-button fill="outline">
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-item>
    <ion-searchbar slot="start" class="custom-searchbar"></ion-searchbar>
  </ion-item>
  <ion-item *ngFor="let item of workout" class="workout-items" lines="none" button detail="false"
    (click)='goTo("workout-detail",item.id)'>
    <ion-label>{{item.title}}</ion-label>
    <p slot="end">7/13/23</p>
    <p slot="end">14:29</p>
  </ion-item>
</ion-content>