<!-- <h1 class="heading">Interval Modes</h1> -->

<!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button (click)='addInterval()'>
    <ion-icon   name="add-outline"></ion-icon>

  </ion-fab-button>

</ion-fab> -->

<ion-list>
  <ion-list-header class="black">
    Interval Modes
    <ion-icon (click)='addInterval()' class='addicon' color="primary" name="add-outline" item-end ></ion-icon>
  </ion-list-header>

  <ion-item *ngFor='let interval of intervals;let index=index'>
    <ion-label (click)='openTimer(interval)'>{{interval.title}}
      <span>
        ({{interval.workoutTime | timeshow}}, {{interval.restTime |timeshow}}, {{interval.rounds}})
      </span>
    </ion-label>
    <ion-icon *ngIf='!interval.default' color='primary' class='actions' (click)='editInterval(index)' name="pencil-outline"></ion-icon>
    <ion-icon *ngIf='!interval.default' color='primary' class='actions' (click)='deleteInterval(index)' name="trash-outline"></ion-icon>
  </ion-item>






</ion-list>
