/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: digital-7;
  src: url('./assets/fonts/digital-7/digital-7\ \(italic\).ttf');
  font-weight: bold;
}

.time{
  margin: auto;
  font-family: 'digital-7';
  font-size: 22vw;
  color: #FB331A;
}

.stop-watch-time{
  font-family: 'digital-7';
  font-size: 33vw;
  color: #FB331A;
  text-align: center;
  margin: 40px;
  margin-top: 55px;
}

.countdown-text{
  font-family: 'digital-7';
  color: #FB331A;
}

ion-toggle {
  --background: gray;
  --background-checked: #FB331A;

  --handle-background: #FB331A;
  --handle-background-checked: gray;
}

ion-fab-button{
  color:#FB331A
}

.landscape{
  margin:auto;
  font-size:29vw;
}

.lapno{
  color: #2D92F8;
  margin-right: 30px;
  // display: inline-flex;
  // flex-direction: column;
  // vertical-align: top;
  // // font-size: 8vw;
  // vertical-align: middle;
  //   font-size: 7vw;
}

ion-button{
  margin:0px 20px 20px 20px;
}

ion-fab{
  margin-top:30px
}
// .picker-toolbar.sc-ion-picker-ios{
//   border-bottom: 0px;
// }
// .picker-wrapper.sc-ion-picker-ios{
//   background: #0000
// }

// .picker-above-heighlight.sc-ion-picker-ios, .picker-below-highlight.sc-ion-picker-ios{
//   background:#000;
//   border:none
// }
// .picker-opt{
//   color:white
// }
// .picker-columns{
//   position: relative;
// }
// .picker-columns::before{
//   position: absolute;
//   content: "mm ss";
//   top: 54px;
//   left: 0;
//   color: #fff;
//   right: 0;
//   margin: auto;
//   text-align: center;
//   z-index: 99999;
//   width: 100px;
//   word-spacing: 16px;
//   font-size: 20px;
// }

.picker-opt{
  font-size: 27px;  //change size depend your Requirement
}
