#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.tabs-item-hide {
  display: none;
}

.home-list {
  padding: 40% 5% 0% 5%;
  position: relative;
  background: none !important;
  text-align: center;
}

ion-button {
  margin: 0px 20px 30px 20px;
  width: 75%;
}

ion-button::part(native) {
  height: 50px !important;
}

.first::part(native) {
  background-color: #1a7dfb;
}

.second::part(native) {
  background-color: #fbc21a;
}

.third::part(native) {
  background-color: #fb1a6b;
}

.fourth::part(native) {
  background-color: #b11afb;
}

.fivth::part(native) {
  background-color: blue;
}

.worklog {
  display: flex;
  justify-content: center;
  align-items: center;
}